input[type=button],  input[type=reset] {
    background-color: #34495e;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 50px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}
.button{
    background-color: #e74c3c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 10px 50px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}
input[type=submit]{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;

}
input[type=submit]:hover{
    background-color: #e74c3c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
#refresh{
    background-image:url("../image/refresh.png");
    background-position: center;
    background-size: 100% 100%;
}
#add{
    background-image:url("../image/add.png");
    background-position: center;
    background-size: 100% 100%;
}

input[type=text]{
    width: 100%;
    position: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
#combo{
    font: bold 1em "Lucida Console", Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 45px;
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid #333;
    border: 3px solid white;
    width: 16px;
    height: 16px;
}

input[type='radio']:checked {
    background: #333;
}
