#table{
    width: 75%;
    font: bold 1.25em "Lucida Console", Verdana, Arial, Helvetica, sans-serif;
    border: 5px solid #34495e;
    /*
    text-transform: uppercase;
    */
    text-align: left;
    padding: 3px 3px 3px 6px;

}
#table2{
    width: 95%;
    font: bold 1.25em "Lucida Console", Verdana, Arial, Helvetica,
    sans-serif;
    border: 5px solid #34495e;
    text-align: left;
    padding: 3px 3px 3px 6px;
}
#table3{
    width: 70%;
    font: bold 1.25em "Lucida Console", Verdana, Arial, Helvetica,
    sans-serif;
    border: 5px solid #34495e;
    text-align: left;
    padding: 3px 3px 3px 6px;
}
#table4{
    width: 80%;
    font: bold 1.25em "Lucida Console", Verdana, Arial, Helvetica, sans-serif;
    border: 5px solid #34495e;
    text-align: left;
    padding: 3px 3px 3px 6px;
}
#tanım{
    color: #e74c3c;
    text-align: right;
    width: 23%;
}
#tanım2{
    color: #e74c3c;
    width: 40%;
}
#tanım3{
    color: #e74c3c;
    text-align: center;
    width: 15%;
}
#tanım4{
    color: #e74c3c;
    width: 15%;
    text-align: center;
    text-transform: uppercase;
}
#tanım5{
    width: 60%;
    text-align: left;
}
#tanım6{
    color: #e74c3c;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
}
#tanım7{
    width: 70%;
    text-align: left;
}
#tanım8{
    color: #e74c3c;
    text-align: right;
    width: 30%;
}
#tanım9{
    text-align: left;
    width: 20%;
}
h1{
    text-align:center;
    font-family:helvetica, sans-serif, arial;
}
#container{
    display:flex;
    justify-content:center;
    padding:20px;
    align-items:center;
}
/*
td{
    border: 1px solid black;
}
*/

#yan{
    width: 100px;

}
#yan2{
    width: 100px;
}

#ortala{
    text-align: left;
}
#ortala2{
    text-align: left;
    width: 100px;
}
#ortala3{
    text-align: center;
    width: 100px;
}

#result{
    color: #e74c3c;
    padding: 6px 6px 6px 24px;
    width: 50%;
}